@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0px;
}

.header-left {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    font-size: 24px;
    font-weight: 900;
    padding-left: 175px;
    padding-top: 20px;
    color: #F9FAF8
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: normal;
  }

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 75px;
}

.header-right {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1 1;

}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    margin-top: 75px;
    color: #F9FAF8
}

.hero-second {
    font-size: 18px;
    width: 400px;
    color: #E5E7EB;
}

button {
    padding: 8px 40px;
    border-radius: 8px;
    background: #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 145px; 
    margin-top: 10px;
  }
  
button.signup1 {
  border: 1px solid #3882F6;;
}

.subaru-brz {
    align-self: flex-end;
    width: 450px;
    margin-top: 57px;
    margin-right: 75px;
    margin-bottom: 75px;
}